.aside {
    position: fixed;
    right: 0px;
    top: 46px;
    width: 340px;
    height: calc(100% - 50px);
    background-color: white;
    box-shadow: 4px 0px 5px 4px grey;
}

.test {
    background-color: blue;
}