@import url('https://fonts.googleapis.com/css?family=Open+Sans|Righteous&display=swap');

// Fonts
h1,
h2,
h3 {
    font-family: 'Righteous', cursive;
}

body {
    font-family: 'Open Sans', sans-serif;
}

//colors
$color-pizzared: #f44336;