.navbar,
.navbar-brand {
    color: white;
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px 4px rgb(129, 111, 111);
}

.navbar {
    background-color: $color-pizzared;
    padding: 10px;
}

.banner {
    height: 200px;
    border: 1px solid rgb(76, 0, 255);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-item {
    font-family: 'Righteous', cursive;
}


// TODO: navbar-brand instead of link, also need ABEM naming convention to keep it clean