.label {
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    padding: 5px;
}

// TODO: use generic styles for label component styles and project specific styles in the project/src/styles/component folder